.student-details .active-user {
  text-align: center;
  margin: 15px;
}
.student-details .link-to-family {
  text-align: center;
  padding-top: 10px;
}
.student-details .active-user .active {
  color: rgb(24, 121, 11);
  background-color: rgb(206 255 206 / 74%);
  border-radius: 4px;
  font-weight: 600;
  font-size: 12px;
  line-height: 1;
  padding: 5px;
}
.student-details .link-to-family a {
  color: #fb771a;
  font-weight: 600;
}
.student-details h3 {
  font-weight: 600;
  font-size: 16px;
}
.arrange-edit-sign {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 15px;
}
.arrange-edit-sign h3 {
  margin: 0;
}
.student-edit-user {
  display: inline;
  border: 1px solid #c3c3c3;
  padding: 5px;
  border-radius: 5px;
}
.student-edit-user.add {
  padding: 5px 10px;
}
.student-details .edit-user {
  position: absolute;
  border: 1px solid #c3c3c3;
  padding: 12px;
  border-radius: 5px;
  right: 25px;
  top: 21px;
  cursor: pointer;
}
.student-edit-user {
  display: inline;
  border: 1px solid #c3c3c3;
  padding: 4px;
  border-radius: 5px;
}
.student-properties-edit {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 15px;
}
.student-properties-edit h3 {
  margin-bottom: 0px;
}
.accordion-button:not(.collapsed) {
  color: #fb771a;
  background-color: #fff9e7;
  box-shadow: inset 0 calc(-1 * var(--bs-accordion-border-width)) 0
    var(--bs-accordion-border-color);
}
.student-details .btn-end a,
.student-details .btn-end .formbold-btn {
  font-size: 14px;
}
.student-details .formbold-form-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.student-details .chart.chart-xs img {
  width: 40%;
  margin: 0 auto;
  display: block;
}
.student-details .flex-fill h5 {
  text-align: center;
}
.calculate-study {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding: 15px 10px;
  border: 1px solid #d7d5d5;
  border-radius: 5px;
  margin: 20px 0;
  box-shadow: 0 8px 16px #0f41461a;
}
.calculate-study h5 {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 0;
}
.days-studied,
.hours-studied,
.average-study {
  display: flex;
  align-items: center;
  gap: 10px;
}
.calculate-study span {
  color: rgb(73, 80, 87);
  padding-top: 12px;
  display: block;
}
.calculate-study span emp {
  color: #fb771a;
}
.student-details .col-xl-4 {
  width: 30.333333%;
}
.calendar-body {
  margin: 30px 0;
}
.calendar-body h5 {
  font-weight: 600;
  margin: 35px 0;
}
emp {
  color: #fb771a;
  font-size: 16px;
}
.calendar-body .addnew {
  background-color: #fb771a;
  border-radius: 5px;
  border: none;
  padding: 9px 23px;
  color: #ffffff;
  font-size: 14px;
}
.calendar-body .addnew i {
  color: #ffffff;
  font-size: 14px;
  padding-right: 10px;
}
