small.token-expired-wrapper {
        color: #960018;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 30px;
        background-color: #ffe6e6;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 350px;
        font-size: 100%;
    }