[data-theme="light"] {
    --bg-color: #f7f5ed;
    --text-color: #000;
    --card-bg-color: #fff;
    --hover-bg-color: #f7f5ed;
  }
  
  [data-theme="dark"] {
    --bg-color: #363636;
    --text-color: #fff;
    --card-bg-color: #363636;
    --hover-bg-color: rgba(255, 255, 255, 0.5);
    --hover-text-color: #000;
  }
.payment-type-box{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    padding: 0 20%;
}
.type-box{
    width: 40%;
    height: 100px;
    flex:1;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px 5px lightgray;
    cursor: pointer;
}
.type-box:hover{
    background-color: lightgray;
}
.form-area{
    display: flex;
    flex-direction: column!important;
    /* height: 100%; */
    overflow-y: scroll;
}
.contaner-area {
    display: flex;
    flex-direction: column;
    height: 344px;
    /* background-color: yellow; */
}
.contaner-area-min{
    display: flex;
    flex-direction: column;
    height: 100%;
    /* background-color: yellow; */
    overflow-y: scroll;
}
.ml-2{
    margin-left: 2px;
}

.form-field-label-text{
    color: #344242;
}

/* .date-input-enable-autoinvoice{
     display: flex !important;
    align-items: center;
    border: none !important;
    height: 40px !important;
    padding: 0 8px !important; 
} */

.invoice-type{
    display: flex;
}

.invoice-details-wrapper .payment-type-box{
    height: auto;
    overflow:auto;
}

.automatic-invoicing{
    /* padding-top: 32px;
    padding-bottom: 16px; */
    font: 750 2.027rem / 1.1 Inter Variable, Arial, sans-serif;
    color: #1b2222;
}
.payment-type-box:not(.automatic-invoicing) {
    display: flex; /* Override display:block to display:flex for .payment-type-box except for .automatic-invoicing */
}

.modal-content{
    background-color: var(--card-bg-color);
}

.automatic-invoicing{
    color:var(--text-color)
}

.form-field-label-text{
    color:var(--text-color)
}

.formbold-input-flex{
    color:var(--text-color) ;
}

.display-invoice{
    color:var(--text-color) !important
}

.sub-text-display-invoice{
    color: azure ;
    font-size: small !important;
}

.card-header.alignC {
    /* display: flex; */
    width: 60%;
    margin: 0 auto;
    padding: 20px 0 10px 10px;
}

span.sectionWrapper{
    /* display: flex; */
    width: 60%;
    margin: 0 auto;
}

a.alignA {
    display: block;
    width: 60%;
    margin: 20px auto;
}

input{
    margin-left: -1px!important;
    grid-area: 1 / 1!important;
}
 
.card-body ul {
    margin-left: 5px;
    padding-left: 5px;
    margin-bottom: 31px;
}

.card-body h6{
    margin-top: 20px!important;
}
.card{
    padding-top: 20px;
}
a.link {
    
    position: relative;
    top: -18px;
}

strong.txt {
    display: inline-block;
    padding-top: 7px;
}

.type-box {
    width: 40%;
    height: 100px;
    flex: 1 1;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
    cursor: pointer;
    border: 1px solid #ccc;
    margin: 5px 0;
}
/* .recurring{
    background-color: var(--card-bg-color);
} */