:root {
  --primary-bgColor: #262626;
}

[data-theme="light"] {
  --bg-color: #f7f5ed;
  --text-color: #000;
  --card-bg-color: #fff;
  --hover-bg-color: #f7f5ed;
  --sign-in-up-bg-color: #f7f5ed;
}

[data-theme="dark"] {
  --bg-color: #363636;
  --text-color: #fff;
  --card-bg-color: #363636;
  --hover-bg-color: rgba(255, 255, 255, 0.5);
  --hover-text-color: #000;
  --sign-in-up-bg-color: #000;
}
.primary-bg {
  background: #f7f5ed;
}
body {
  font-family: Poppins, sans-serif;
  background-color: #fff;
  color: var(--text-color);
}

p {
  color: var(--text-color);
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6 {
  font-family: Poppins, sans-serif;
  color: var(--text-color);
}

a {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
  text-decoration: none;
}
a:hover {
  text-decoration: none !important;
}

.content {
  padding: 7rem 0;
}

h2 {
  font-size: 20px;
}

.half,
.half .container > .row {
  height: auto;
  min-height: 700px;
}
.control--checkbox a {
  text-decoration: underline;
}
.half .contents {
  background: #f6f7fc;
}

.half .bg {
  width: 25%;
}
@media (max-width: 767.98px) {
  .half .bg {
    width: 100%;
    height: 200px;
  }
}

.half .contents {
  width: 75%;
}
@media (max-width: 767.98px) {
  .half .contents {
    width: 100%;
  }
}

.half .contents .form-control,
.half .bg .form-control {
  border: none;
  border-radius: 4px;
  height: 48px;
  background: #efefef;
}
.half .contents .form-control:active,
.half .contents .form-control:focus,
.half .bg .form-control:active,
.half .bg .form-control:focus {
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.half .bg {
  background-size: cover;
  background-position: center;
}

.half a {
  color: #888;
}

.half .btn {
  height: 54px;
  padding-left: 30px;
  padding-right: 30px;
  width: 100%;
  background-color: #fb771a;
  border-color: #fb771a;
}
.form-group {
  margin-bottom: 1rem;
}
label {
  display: inline-block;
  margin-bottom: 0.5rem;
}
.half .forgot-pass {
  position: relative;
  top: 2px;
  font-size: 14px;
}

.form-block {
  background-color: white !important;
  color: black !important;
  border-radius: 8px;
  padding: 40px;
  max-width: 400px;
  -webkit-box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 15px 30px 0 rgba(0, 0, 0, 0.2);
}
@media (max-width: 767.98px) {
  .form-block {
    padding: 25px;
  }
}

.control {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 15px;
  cursor: pointer;
  font-size: 14px;
}
.control .caption {
  position: relative;
  top: 0.2rem;
  color: #888;
}

.control input {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.control__indicator {
  position: absolute;
  top: 2px;
  left: 0;
  height: 20px;
  width: 20px;
  background: #e6e6e6;
  border-radius: 4px;
}

.control--radio .control__indicator {
  border-radius: 50%;
}

.control:hover input ~ .control__indicator,
.control input:focus ~ .control__indicator {
  background: #ccc;
}

.control input:checked ~ .control__indicator {
  background: #fb771a;
}
.eyeball {
  position: absolute;
  right: 10px;
  top: 10px;
}
.pass {
  position: relative;
}
.loader-center {
  display: block;
  margin: 0 auto;
  padding: 20px;
}
.form-control.domain {
  width: 60%;
}
